#dashboard > ul {
  width: 100%;
}
#critical {
  float: right;
}
.calendar {
  background:#fff;
  width:100%;
  border-collapse:collapse;
  padding:0px;
  margin:0;
}
.calendar thead > tr {
  border: 1px solid black;
}
.calendar th, .calendar tr.header > td {
  text-align: center;
  font-size: 1.2em;
  height: 1em;
  width: 14%;
}
.calendar td {
  border:1px solid black;
  width:14%;
  vertical-align:top;
  padding:5px;
  height:14vh;
}
.calendar td div {
  float:right;
  border:1px solid black;
  width:1.5em;
  height:1.5em;
  margin:-6px;
  text-align:center;
  vertical-align:middle;
}
.calendar td p {
  font-weight:bold;
  text-align:center;
}
.big-modal > div, .big-modal > div > div {
  width: 70vw;
  height: 80vh;
}
.big-modal .modal-body {
  max-height: 100vh !important;
}
